.App{
  width : 500px;
  margin : 0 auto;
  display:flex;
  flex-direction: column;
  gap : 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #F8C8DC, #A5E2DC); 
  min-height: 100vh;
}
